{{!< layout}}
<script type="text/javascript" src="/dist/bundled.example.page.js"></script>
<div id="maincontainer">
    <div id="container" />
</div>
<div class="field-group hidden">
    <input class="text" type="text" id="displayName" name="displayName" value="{{displayName}}">
    <input class="text" type="text" id="repoPath" name="repoPath" value="{{repoPath}}">
</div>